<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

       <form th:action="@{updateById}" method="post" th:object="${session.OneInfo}">
           <input type="hidden" name="eid" th:value="*{eid}"><br>
           <input type="hidden" name="deptno" th:value="*{deptno}"><br>
           姓名:<input type="text" name="ename" th:value="*{ename}" ><br>
           入职日期：<input type="text" name="hirdate" th:value="*{#dates.format(hirdate,'yyyy-MM-dd HH:mm:ss')}" ><br>
           工资:<input type="text" name="salary" th:value="*{salary}" ><br>
           部门:<select name="dept">
                 <option th:value="*{dept.deptno}" th:text="*{dept.dname}"></option>

                 <option th:each="dept : ${session.depts}" th:text="${dept.dname}" th:value="${dept.deptno}"></option>
           </select>
           <br>
           <input type="submit" value="提交">
       </form>

</body>
</html>